.ifClases{
    width: 100% !important;   
    height: 600px;
 }
 
 #clases h3{
     text-align: center;
 }
 
 #clases{
     background: #e8e8e8;
     
     padding-top: 70px;

 }
 .blanco, th{
     background: #fff;

     th{
        padding: 30px 0;
        font-style: italic;
    }
 }
 
 .gris{
     background: #e8e8e8;
 }
 .negrit{
     font-weight: bold;
 }
 /* tabla de clases */
 table{
     width: 100%;
     text-align: center;
 }
 
